<a class="aa-footer-link" href="/search?q=[[ query ]]">
  View all results
  <svg xmlns="http://www.w3.org/2000/svg" width="32.085" height="13.143" viewBox="0 0 32.085 13.143">
  	<path id="Path_453" data-name="Path 453" d="M55.26-50.591h-.773c-.738,2.139-.438,2.635,1.689,3,1.983.341,3.955.748,6.176,1.173-.393.365-.473.5-.558.508-6.8.293-13.6.552-20.4.9-.547.028-1.065.646-1.6.99v.387a8.112,8.112,0,0,0,2.689.977c2.372-.048,4.733-.457,7.107-.589,4.75-.263,9.506-.441,14.259-.632.188-.007.386.212.872.5-2.223,1.171-4.18,2.252-6.184,3.239-1.406.693-1.581,1.539-.575,2.692h.387c1.07-.667,2.1-1.425,3.22-1.984,3.416-1.7,6.87-3.322,10.31-4.974v-.773a18.944,18.944,0,0,0-3.58-1.965c-2.512-.757-5.125-1.173-7.672-1.823C58.82-49.429,57.049-50.044,55.26-50.591Z" transform="translate(-39.798 50.591)" fill="#ff600b"/>
  </svg>
</a>
