<div class="
            predictive__search
            aa-columns-container

            [[# with.articles ]] aa-with-articles [[/ with.articles ]]
            [[^ with.articles ]] aa-without-articles [[/ with.articles ]]

            [[# with.collections ]] aa-with-collections [[/ with.collections ]]
            [[^ with.collections ]] aa-without-collections [[/ with.collections ]]

            [[# with.footer ]] aa-with-footer [[/ with.footer ]]
            [[^ with.footer ]] aa-without-footer [[/ with.footer ]]

            [[# with.poweredBy ]] aa-with-powered-by [[/ with.poweredBy ]]
            [[^ with.poweredBy ]] aa-without-powered-by [[/ with.poweredBy ]]

            [[# with.products ]] aa-with-products [[/ with.products ]]
            [[^ with.products ]] aa-without-products [[/ with.products ]]

            [[# with.pages ]] aa-with-pages [[/ with.pages ]]
            [[^ with.pages ]] aa-without-pages [[/ with.pages ]]
            ">
  <div class="search__close"><svg class="close__icon" height="329pt" viewBox="0 0 329.26933 329" width="329pt" xmlns="http://www.w3.org/2000/svg"><path d="m194.800781 164.769531 128.210938-128.214843c8.34375-8.339844 8.34375-21.824219 0-30.164063-8.339844-8.339844-21.824219-8.339844-30.164063 0l-128.214844 128.214844-128.210937-128.214844c-8.34375-8.339844-21.824219-8.339844-30.164063 0-8.34375 8.339844-8.34375 21.824219 0 30.164063l128.210938 128.214843-128.210938 128.214844c-8.34375 8.339844-8.34375 21.824219 0 30.164063 4.15625 4.160156 9.621094 6.25 15.082032 6.25 5.460937 0 10.921875-2.089844 15.082031-6.25l128.210937-128.214844 128.214844 128.214844c4.160156 4.160156 9.621094 6.25 15.082032 6.25 5.460937 0 10.921874-2.089844 15.082031-6.25 8.34375-8.339844 8.34375-21.824219 0-30.164063zm0 0"></path></svg></div>
  <div class="search_container">
    <div class="default--search">
      <div class="aa-left-column search__left-menu">
        <div class="aa-collections">
          <h4 class="menu_title toggle-text">
            <span class="toggle-text__item">Trending searches</span>
            <span class="toggle-text__item">Results</span>
          </h4>
          <div class="dataset-collections"></div>
        </div>

        <div class="aa-articles">
          <h4 class="menu_title"><span>Trending blogs</span></h4>
          <div class="dataset-articles"></div>
        </div>

        <div class="aa-pages">
          <h4 class="menu_title"><span>Trending pages</span></h4>
          <div class="dataset-pages"></div>
        </div>
      </div>

      <div class="aa-right-column search__recently-view-product">
        <h4 class="search_product__title toggle-text">
          <span class="toggle-text__item">size? Picks</span>
          <span class="toggle-text__item">Recommended</span>
        </h4>
        <div class="dataset-products"></div>
      </div>
    </div>
  </div>
</div>