<div class="filter_overlay"></div>
<div class="collection-wrapper--top ais-facets">
  <div class="listing-filters__container">
    <div class="listing-filters__content">
      <div class="listing-filters__actions">
        <div class="text-link">Filters</div>
        <button class="filter_close"><svg class="close__icon" height="329pt" viewBox="0 0 329.26933 329" width="329pt" xmlns="http://www.w3.org/2000/svg"><path d="m194.800781 164.769531 128.210938-128.214843c8.34375-8.339844 8.34375-21.824219 0-30.164063-8.339844-8.339844-21.824219-8.339844-30.164063 0l-128.214844 128.214844-128.210937-128.214844c-8.34375-8.339844-21.824219-8.339844-30.164063 0-8.34375 8.339844-8.34375 21.824219 0 30.164063l128.210938 128.214843-128.210938 128.214844c-8.34375 8.339844-8.34375 21.824219 0 30.164063 4.15625 4.160156 9.621094 6.25 15.082032 6.25 5.460937 0 10.921875-2.089844 15.082031-6.25l128.210937-128.214844 128.214844 128.214844c4.160156 4.160156 9.621094 6.25 15.082032 6.25 5.460937 0 10.921874-2.089844 15.082031-6.25 8.34375-8.339844 8.34375-21.824219 0-30.164063zm0 0"></path></svg></button>
      </div>
      <div class="ais-current-refined-values-container"></div>
      <div class="ais-clear-refinements-container"></div>
      <div class="listing-filters__selectors">
        [[# facets ]]
        <div class="ais-facet-[[ type ]] ais-facet-[[ escapedName ]] listing-filters__group" data-group="[[title]]">
          <div class="filter-title-wrapper">
            <button class="filter-group__title select">
              [[ title ]]
              <span class="filter-group__title--number"></span>
            </button>
          </div>
          <div class="filter-group__actions">
            <div class="filter-group__action--filters ais-facet-[[ escapedName ]]-container">

            </div>
          </div>
        </div>
        [[/ facets ]]
      </div>
    </div>
    <div class="apply_filter">
      <button class="filter_close">Apply Filters</button>
    </div>
  </div>
</div>
<div class="collection-wrapper--bottom ais-block">
  <div class="collection__toolbar ais-search-header">
    <div class="collection__toolbar--top">
      <div class="section-header__right">
        <div class="ais-sort">
          [[# multipleSortOrders ]]
          [[ translations.sortBy ]] <span class="ais-sort-orders-container"></span>
          [[/ multipleSortOrders ]]

          [[^ multipleSortOrders ]]
          [[ translations.sortBy ]] [[ translations.relevance ]]
          [[/ multipleSortOrders ]]
        </div>
        <div class="collection_view_row">
          <div class="lay3_btn lay_btn active">
            <span></span>
            <span></span>
            <span></span>
          </div>
          <div class="lay4_btn lay_btn">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>

        <div class="filter_btn">
          <button class="filter_toggle btn button ais-facets-button">
            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 373.6 373.6" style="enable-background:new 0 0 373.6 373.6;" xml:space="preserve"><g><g><path d="M343.7,0H29.9c-5.5,0-10.1,4.9-10.1,10.5v64.2c0,0.3,0,0.6,0.1,1c0,0.1,0.1,0.3,0.1,0.4c0,0.2,0.1,0.3,0.1,0.5c0,0.2,0.1,0.3,0.1,0.5c0,0.1,0.1,0.3,0.1,0.4c0.1,0.2,0.1,0.4,0.2,0.5c0,0.1,0.1,0.2,0.1,0.4c0.1,0.2,0.1,0.3,0.2,0.5c0.1,0.1,0.1,0.2,0.2,0.4c0.1,0.2,0.2,0.3,0.2,0.4c0.1,0.1,0.1,0.3,0.2,0.4c0.1,0.1,0.2,0.3,0.3,0.4c0.1,0.1,0.2,0.3,0.3,0.4c0.1,0.1,0.2,0.2,0.3,0.4c0.1,0.1,0.2,0.1,0.2,0.2l114.3,124.6v157.5c0,3.9,2.2,7.4,5.7,9.1c1.3,0.6,2.7,0.9,4.2,0.9c2.4,0,4.7-0.8,6.5-2.4l80.2-68.3c2.2-1.9,3.5-4.7,3.4-7.6v-89.2L351,81.4c0.1-0.1,0.1-0.1,0.2-0.2c0.1-0.1,0.2-0.2,0.3-0.4c0.1-0.1,0.2-0.2,0.3-0.4c0.1-0.2,0.2-0.3,0.3-0.4s0.2-0.3,0.2-0.4c0.1-0.1,0.2-0.3,0.3-0.4c0.1-0.1,0.1-0.2,0.2-0.4c0.1-0.2,0.2-0.3,0.2-0.5c0-0.1,0.1-0.2,0.1-0.4c0.1-0.2,0.1-0.3,0.2-0.5c0-0.1,0.1-0.3,0.1-0.4c0-0.2,0.1-0.3,0.1-0.5s0.1-0.3,0.1-0.5c0-0.1,0.1-0.3,0.1-0.4c0-0.3,0.1-0.6,0.1-1V10.4C353.8,4.9,349.3,0,343.7,0z M219.5,195.6c-1.7,1.8-2.7,4.1-2.7,6.6v88.4l-60,51.3V202.2c0-2.5-1-4.8-2.7-6.6L52.6,85H321L219.5,195.6z M333.8,65h-294V20h294V65z"></path></g></g></svg>
            Filter
          </button>
        </div>
      </div>
      <div class=".ais-search-box-container"></div>
      <div class="collection-products--count ais-stats-container"></div>
    </div>
  </div>
  <div class="ais-search-box-container" style="display: none;"></div>
  <div class="ais-hits-container ais-results-as-block"></div>
</div>
<div class="ais-pagination-container"></div>
