<a 
   data-algolia-index="[[ _index ]]" 
   data-algolia-position="[[ _position ]]" 
   data-algolia-queryid="[[ queryID ]]" 
   data-algolia-objectid="[[ objectID ]]" 
   class="aa-product"
   href="/products/[[handle]]"
   data-product-id="[[ id ]]"
   >
  <div class="grid__image">
    <img src="[[# helpers.sizedImage]]400x[[/ helpers.sizedImage]]">
  </div>
  <div class="product__meta">
    <p class="h6 aa-product-title">[[# helpers.fullHTMLTitle ]][[/ helpers.fullHTMLTitle ]]</p>
    <p class="pro_price">
      [[# helpers.autocompletePrice ]][[/ helpers.autocompletePrice ]]
    </p>
  </div>
</a>
