[[# type.disjunctive ]]
	<input type="checkbox" class="[[ cssClasses.checkbox ]]" [[# isRefined ]]checked[[/ isRefined ]]/>
[[/ type.disjunctive ]]
<label class="[[ cssClasses.label ]]">
  [[& label ]]
</label>
