<div class="collection-wrapper--top">
  <button class="filter_close">
    <svg class="close__icon" height="329pt" viewBox="0 0 329.26933 329" width="329pt" xmlns="http://www.w3.org/2000/svg">
      <path
            d="m194.800781 164.769531 128.210938-128.214843c8.34375-8.339844 8.34375-21.824219 0-30.164063-8.339844-8.339844-21.824219-8.339844-30.164063 0l-128.214844 128.214844-128.210937-128.214844c-8.34375-8.339844-21.824219-8.339844-30.164063 0-8.34375 8.339844-8.34375 21.824219 0 30.164063l128.210938 128.214843-128.210938 128.214844c-8.34375 8.339844-8.34375 21.824219 0 30.164063 4.15625 4.160156 9.621094 6.25 15.082032 6.25 5.460937 0 10.921875-2.089844 15.082031-6.25l128.210937-128.214844 128.214844 128.214844c4.160156 4.160156 9.621094 6.25 15.082032 6.25 5.460937 0 10.921874-2.089844 15.082031-6.25 8.34375-8.339844 8.34375-21.824219 0-30.164063zm0 0"
            ></path>
    </svg>
  </button>

  <article class="listing-filters__container">
    <div class="listing-filters__actions"><button class="text-link">Filters</button></div>
    <div class="listing-filters__tags"></div>
    <button type="button" class="btn-clear-all">Clear All</button>

    <div class="listing-filters__selectors">
      <div class="listing-filters__group open" data-group="brand">
        <div class="filter-title-wrapper">
          <button class="filter-group__title select">brand<span class="filter-group__title--number"></span></button>
          <button class="filter-group__action--clear btn btn--secondary">Clear</button>
        </div>

        <div class="filter-group__actions open">
          <div class="filter-group__action--filters">
            <div class="filter-group__filter" data-filter="brand_adidas">
              <input data-group="brand" data-filter="Brand_adidas" id="brand_adidas" class="filter-group__filter--checkbox" type="checkbox" value="Brand_adidas" />
              <label data-group="brand" data-filter="Brand_adidas" for="brand_adidas" class="filter-group__filter--label">Adidas</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </article>
</div>