.page-drawings__drawings{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}
  
@media screen and (min-width: 1024px) {
    .page-drawings__drawings{
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    }
}
  
.drawing__title{
font-size: rem(11px);
font-weight: bold;
margin: 20px 0;
} 